li
{
		list-style-type:none;
}
.months ul li
a
{
	float: left;
	margin: -3px;
	padding: 0px 15px;
	color: rgb(136, 127, 127);
	text-decoration: none;
	font-size: 33px;
	font-weight: bold;
	text-transform: uppercase;

}
.year
{
	color:rgb(240, 3, 3);
	font-size: 40px;
	font-weight: bold;

}
.months ul li
a:hover
{
	color:rgb(240, 3, 3);
}
table td
{
	font-weight: bold;
	text-align: center;
	border: 1px solid rgb(116, 108, 108);
	width: 50px;
	height: 50px;
}
table td:hover
{
	background:rgb(240, 3, 3);
	cursor: pointer;
}
td,th
{
	display: table-cell;
	vertical-align: inherit;
}