.view {
    position: relative;
    overflow: hidden;
    cursor: default
}

.view .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed
}

.view img,
.view video {
    position: relative;
    display: block
}

.view video.video-intro {
    top: 50%;
    left: 50%;
    z-index: -100;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}
.overlay .mask {
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

.overlay .mask:hover {
    opacity: 1
}
.h1-responsive {
    font-size: 150%
}
@media (min-width: 576px) {
    .h1-responsive {
        font-size: 170%
    }

    .h2-responsive {
        font-size: 140%
    }

    .h3-responsive {
        font-size: 125%
    }

    .h4-responsive {
        font-size: 125%
    }

    .h5-responsive {
        font-size: 125%
    }
}

@media (min-width: 768px) {
    .h1-responsive {
        font-size: 200%
    }

    .h2-responsive {
        font-size: 170%
    }

    .h3-responsive {
        font-size: 140%
    }

    .h4-responsive {
        font-size: 125%
    }

    .h5-responsive {
        font-size: 125%
    }
}

@media (min-width: 992px) {
    .h1-responsive {
        font-size: 200%
    }

    .h2-responsive {
        font-size: 170%
    }

    .h3-responsive {
        font-size: 140%
    }

    .h4-responsive {
        font-size: 125%
    }

    .h5-responsive {
        font-size: 125%
    }
}

@media (min-width: 1200px) {
    .h1-responsive {
        font-size: 250%
    }

    .h2-responsive {
        font-size: 200%
    }

    .h3-responsive {
        font-size: 170%
    }

    .h4-responsive {
        font-size: 140%
    }

    .h5-responsive {
        font-size: 125%
    }
}

.hr-light {
    border-top: 1px solid #fff
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}
.white-text {
    color: #fff !important
}